@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(238, 245, 255);
}

.colors {
  color: hsl(213, 96%, 18%);
  color: hsl(243, 100%, 62%);
  color: hsl(228, 100%, 84%);
  color: hsl(206, 94%, 87%);
  color: hsl(354, 84%, 57%);

  color: hsl(231, 11%, 63%);
  color: hsl(229, 24%, 87%);
  color: hsl(217, 100%, 97%);
  color: hsl(231, 100%, 99%);
  color: hsl(0, 0%, 100%);

  color: rgb(238, 245, 255);
}

.bottom_nav_shadow {
  box-shadow: 0 0 8px -4px #00000044;
}

@layer components {
  .box_radius {
    @apply rounded-xl;
  }

  .content_wrapper {
    @apply px-6 md:px-0 w-full -mt-24 md:mt-0 pb-36 md:pb-0;
  }

  .main_container_shadow {
    box-shadow: 0 20px 48px -24px #00000022;
  }

  .content_container {
    @apply w-full h-full p-7 pb-10 md:p-0 md:pb-0 flex justify-center bg-white rounded-lg main_container_shadow md:shadow-none;
  }

  .dark_blue_text {
    color: hsl(213, 96%, 18%);
  }

  .dark_blue_bg {
    background-color: hsl(213, 96%, 18%);
  }

  .dark_blue_border {
    border-color: hsl(213, 96%, 18%);
  }

  .blue_text {
    color: hsl(243, 100%, 62%);
  }

  .blue_bg {
    background-color: hsl(243, 100%, 62%);
  }

  .light_gray_text {
    color: hsl(231, 11%, 63%);
  }

  .milky_cyan_bg {
    background-color: hsl(206, 94%, 87%);
  }

  .light_cyan_bg {
    background-color: hsl(217, 100%, 97%);
  }

  .light_gray_bg {
    background-color: hsl(229, 24%, 87%);
  }

  .very_light_bg {
    background-color: hsl(231, 100%, 99%);
  }

  .border_color {
    @apply border-neutral-300;
  }

  .sidebar_bg {
    @apply bg-[url('bg-sidebar-mobile.svg')] md:bg-[url('bg-sidebar-desktop.svg')] bg-cover;
  }
}
